* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Exo 2', sans-serif;
}

body {
  background: white;
}

.wrapper {
  border-radius: 12px;
  height: 40vh;
  display: flex;
  box-shadow: 0 0 15px silver;
  padding: 20px;
}

.replay {
  display: flex;
  justify-content: center;
  margin: 12px;
}
